/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --c01:#fff;
  --c02:#E9E3FF; 
  --c03:#999999;
  --c04:#161616;
  --c05:#000;
  --c06:#B583F5;
  --c07:#7C5AFF;
  --c08:#6023B0;
  --c09:#471687;
  --c10:#bebebe;
  
}

.sep_div{
  display: flex;
  flex-direction: row;
 width: 90%;
 align-items: center;
 height: 900px;
 margin: auto;
 background-color: var(--c01);
 border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.lucro{
display: flex;
flex-direction: column;
justify-content: space-around;
background-color: #ffffff;
box-shadow: 2px 2px 6px var(--c03);
text-align: center;
height: 400px;
border-radius: 20px;
padding: 15px;
color: #7C5AFF;
}


.lucro > div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.valor {
   width: 70%;
   margin: auto;
   background-color: #7C5AFF;
   color: white;
   font-size: 20px;
   border-radius: 5px;
   height: 35px;
   padding: 3px;
}
#piechart{
  width: 580px;
  height: 330px;
  margin-left: -40px;
  padding: 6px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px var(--c03);


}

.ilustracao{
  width: 400px;
  background-color: var(--c01);
}
.ladob{
  width: 80%;
  justify-content: space-evenly;
  display: flex;

}

.ladoa{
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  margin: 50px;
}
h5{
  font-size: 25px;
  color: #471687;
}

#curve_chart{
  width: 550px;
   height: 300px;
   box-shadow: 2px 2px 6px var(--c03);
   border-radius: 20px !important;
   padding: 6px;

  
}

