
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --c01:#fff;
    --c02:#E9E3FF; 
    --c03:#999999;
    --c04:#161616;
    --c05:#000;
    --c06:#B583F5;
    --c07:#7C5AFF;
    --c08:#6023B0;
    --c09:#471687;
    --c10:#bebebe;
   
    
}

.button:hover{
    background-color: var(--c08);
     transition: 0.5s;
}



.button{
     width: 180px;
    padding: 7px;
    text-align: center;
    border: none;
    border-radius: 10px; 
    float: right;
    color: var(--c01);
    background-color: var(--c07);
    box-shadow: 2px 3px 5px var(--c10);
    margin-right: 20px;
}
 
.caixa{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;


}

.home-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.home-content>div{
  display: flex;
  align-items: center;
}

.form-perf{
  width: 200px;
}

.pai{
    display:flex;
   flex-direction: column;
    background-color: var(--c01);
    margin: auto;
    
    width: 90%;
    padding: 15px;
    border-radius: 10px;
}

.bloco1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
    
}

h4{
  text-align:center;
  width: 100%;
}
h5{
  text-align: center;
}

h6{
  color:var(--c09);
 margin-top: 10px !important;
}
  
.lado{
  display: flex;
  justify-content: space-between;
}


.imgper{
margin: auto;
border-radius: 100%;
width: 220px;
border: 1px solid var(--c08);
height: 220px;

}
.infop{
  width: 100%;
 
  border-radius: 5px;
  height: 35px;
}
.div1{

  display: flex;
  flex-direction: column;
 

}
.divlado{
  width: 100%;
  margin-top: 30px;
  justify-content: space-around;
  display: flex;
}
.div3{
  margin-top: 130px;
}
#but_img{
 text-decoration: none;
 text-align: center;
 margin: auto;
 width: 300px;
 height: 50px;
 background-color: #7C5AFF;
 border-radius: 10px;
 border: 0;
 margin-top: 50px;
}
.complement{
  width: 500px;
  margin: auto;
}